# Normalize all text files to LF (Unix) line endings
* text=auto eol=lf

# Mark SQL files explicitly for syntax highlighting
*.sql linguist-language=SQL
*.csv linguist-documentation
*.pdf linguist-documentation
*.mwb linguist-generated

# Images
*.png binary
*.jpg binary
*.jpeg binary
